[submodule "examples/3rd-party/CheatSheets-for-Developers"]
	path = examples/3rd-party/CheatSheets-for-Developers
	url = https://github.com/crescentpartha/CheatSheets-for-Developers
[submodule "examples/3rd-party/cheatsheets"]
	path = examples/3rd-party/cheatsheets
	url = https://github.com/jin-zhe/cheatsheets/
[submodule "examples/3rd-party/prompts-for-health"]
	path = examples/3rd-party/prompts-for-health
	url = https://github.com/FortaTech/prompts-for-health
[submodule "examples/3rd-party/promptbase"]
	path = examples/3rd-party/promptbase
	url = https://github.com/microsoft/promptbase
